<div class="nav_top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle waves-effect waves-dark" data-toggle="collapse"
        data-target=".sidebar-collapse">
        <span class="sr-only"></span>
      </button>
      <a class="navbar-brand waves-effect waves-dark" href="index"><img src="img/logo.png" />
        <p><strong>KOKOBOT</strong></p>
        <br /><span>양계 농장 통합관리 시스템</span>
      </a>
      <div id="sideNav" href="">
        <i class="material-icons dp48">toc</i>
      </div>
    </div>
    <ul class="nav navbar-top-links navbar-right">
      <li>
        <a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown4"><i
            class="fa fa-envelope fa-fw"></i> 문서보관함<i class="material-icons right"></i></a>
      </li>
      <li>
        <a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown3"><i
            class="fa fa-tasks fa-fw"></i> 하하하<i class="material-icons right"></i></a>
      </li>
      <li>
        <a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown2"><i
            class="fa fa-bell fa-fw"></i><span class="badge">10</span>알림<i class="material-icons right"></i></a>
      </li>
      <li>
        <a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown1"><i
            class="fa fa-user fa-fw"></i>농장주<i class="material-icons right"></i></a>
      </li>
    </ul>
    <div id="search-bar">
      <div id="search-bar-bg">
        <button id="search-btn" class="search-bar-btn">
          <img src="img/search.png" />
        </button>
        <form action="#" method="post">
          <input type="search" placeholder="검색어를 입력해보세요" />
        </form>
        <button id="close-btn" class="search-bar-btn">
          <img src="img/close.png" />
        </button>
      </div>
    </div>
  </div>
  <div class="nav_bot">
    <div id="under-navbar" class="" role="navigation">
      <ul>
        <li class="active">
          <i class="fa fa-user fa-fw"></i><br />메뉴정보1<span class="after_tri active"></span>
        </li>
        <li>
          <i class="fa fa-user fa-fw"></i><br />메뉴정보2<span class="after_tri"></span>
        </li>
        <li>
          <i class="fa fa-user fa-fw"></i><br />메뉴정보3<span class="after_tri"></span>
        </li>
        <li>
          <i class="fa fa-user fa-fw"></i><br />메뉴정보4<span class="after_tri"></span>
        </li>
        <li>
          <i class="fa fa-user fa-fw"></i><br />메뉴정보5<span class="after_tri"></span>
        </li>
        <li>
          <i class="fa fa-user fa-fw"></i><br />메뉴정보6<span class="after_tri"></span>
        </li>
        <li>
          <i class="fa fa-user fa-fw"></i><br />메뉴정보7<span class="after_tri"></span>
        </li>
        <li>
          <i class="fa fa-user fa-fw"></i><br />메뉴정보8<span class="after_tri"></span>
        </li>
        <li>
          <i class="fa fa-user fa-fw"></i><br />메뉴정보9<span class="after_tri"></span>
        </li>
        <li>
          <i class="fa fa-user fa-fw"></i><br />메뉴정보10<span class="after_tri"></span>
        </li>
        <li>
          <i class="fa fa-user fa-fw"></i><br />메뉴정보11<span class="after_tri"></span>
        </li>
        <li>
          <i class="fa fa-user fa-fw"></i><br />메뉴정보12<span class="after_tri"></span>
        </li>
      </ul>
    </div>
    <div id="sub-navbar">
      <ul class="active">
        <li><a href="/">홈</a></li>
        <li><a href="Farmstatus">전체</a></li>
        <li><a href="Farmdong">동정보</a></li>
        <li><a href="traceabiltty">이력제관리</a></li>
        <li><a href="access_management">출입관리</a></li>
        <li><a href="GP_management">GP관리</a></li>
        <li><a href="medicine_management">약품관리</a></li>
        <li><a href="feed_management">사료관리</a></li>
        <li><a href="clinical_observation">임상관찰</a></li>
        <li><a href="testresults">검사성적관리</a></li>
        <li><a href="EPIS_management">농정원관리</a></li>
      </ul>
      <ul class="">
        <li><a href="spawn_analysis">산란분석</a></li>
        <li><a href="hatch_management">부화관리</a></li>
        <li><a href="#">서브2</a></li>
        <li><a href="#">서브2</a></li>
        <li><a href="#">서브2</a></li>
        <li><a href="#">서브2</a></li>
        <li><a href="#">서브2</a></li>
      </ul>
      <ul class="">
        <li><a href="#">서브3</a></li>
        <li><a href="#">서브3</a></li>
        <li><a href="#">서브3</a></li>
        <li><a href="#">서브3</a></li>
        <li><a href="#">서브3</a></li>
        <li><a href="#">서브3</a></li>
        <li><a href="#">서브3</a></li>
      </ul>
      <ul class="">
        <li><a href="#">서브4</a></li>
        <li><a href="#">서브4</a></li>
        <li><a href="#">서브4</a></li>
        <li><a href="#">서브4</a></li>
      </ul>
      <ul class="">
        <li><a href="#">서브5</a></li>
        <li><a href="#">서브5</a></li>
        <li><a href="#">서브5</a></li>
        <li><a href="#">서브5</a></li>
        <li><a href="#">서브5</a></li>
      </ul>
      <ul class="">
        <li><a href="#">서브6</a></li>
        <li><a href="#">서브6</a></li>
        <li><a href="#">서브6</a></li>
        <li><a href="#">서브6</a></li>
        <li><a href="#">서브6</a></li>
        <li><a href="#">서브6</a></li>
      </ul>
      <ul class="">
        <li><a href="#">서브7</a></li>
        <li><a href="#">서브7</a></li>
        <li><a href="#">서브7</a></li>
        <li><a href="#">서브7</a></li>
        <li><a href="#">서브7</a></li>
        <li><a href="#">서브7</a></li>
        <li><a href="#">서브7</a></li>
      </ul>
      <ul class="">
        <li><a href="#">서브8</a></li>
        <li><a href="#">서브8</a></li>
        <li><a href="#">서브8</a></li>
        <li><a href="#">서브8</a></li>
        <li><a href="#">서브8</a></li>
        <li><a href="#">서브8</a></li>
        <li><a href="#">서브8</a></li>
        <li><a href="#">서브8</a></li>
      </ul>
      <ul class="">
        <li><a href="#">서브9</a></li>
        <li><a href="#">서브9</a></li>
        <li><a href="#">서브9</a></li>
        <li><a href="#">서브9</a></li>
        <li><a href="#">서브9</a></li>
        <li><a href="#">서브9</a></li>
        <li><a href="#">서브9</a></li>
        <li><a href="#">서브9</a></li>
        <li><a href="#">서브9</a></li>
      </ul>
      <ul class="">
        <li><a href="#">서브10</a></li>
        <li><a href="#">서브10</a></li>
        <li><a href="#">서브10</a></li>
        <li><a href="#">서브10</a></li>
      </ul>
      <ul class="">
        <li><a href="#">서브11</a></li>
        <li><a href="#">서브11</a></li>
      </ul>
      <ul class="">
        <li><a href="#">서브12</a></li>
        <li><a href="#">서브12</a></li>
        <li><a href="#">서브12</a></li>
      </ul>
    </div>
  </div>