.middle_title::before {
    content: '';
    width: 27px;
    height: 27px;
    background-image: url(/icon/gpIcon.png);
    position: absolute;
    background-size: 25px;
    background-repeat: no-repeat;
}
li.middle_title p {
    margin-left: 35px;
}